{% extends "base.html" %}

{% block titulo %}
    <h1 style="text-align: center;">Acerca de nosotros</h1>
{% endblock %}

{% block contenido %}
<div class="container">
  <div class="card mb-3" style="max-width: 100%;">
    <div class="row no-gutters">
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Juan Ignacio Vazquez</h5>
          <p class="card-text">Soy un desarrollador principiante de Argentina, Buenos Aires. Tengo 22 años y una princesa de 3, hincha del mas grande River Plate y apasionado por la música. Me desempeño en el area de gastronomía, soy encargado en un Hall y disfruto lo que hago.</p>
        </div>
      </div>
      <div class="col-md-4">
        <img style="max-width: 270px;float:right" class="img-fluid" src="../media/profile_image/Juan.jfif" >
      </div>
    </div>
  </div> 
      <div class="card mb-3" style="max-width: 100%;">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Sebastián Moncayo</h5>
              <p class="card-text">Mi nombre es Sebastián Moncayo, tengo 23 años, actualmente estudio ingeniería de sistemas, comence este curso de python ya que los conocimientos que he adquirido en la universidad no me satisfacen y me han hablado bien de Coderhouse por esa razón quise ingresar.</p>
            </div>
          </div>
          <div class="col-md-4">
            <img style="max-width: 270px;float:right" class="img-fluid" src="../media/profile_image/sebas.jpg" >
          </div>
        </div>
      </div> 


          </div>
        </div>
      </div>
</div> 
{% endblock %}